<section class="testimonial section container">
  <div class="testimonial__container grid">
    <div class="swiper testimonial-swiper">
      <swiper-container #swiper [loop]="true" class="swiper testimonial-swiper">
        <swiper-slide class="testimonial__card swiper-slide">
          <div class="testimonial__card swiper-slide">
            <div class="testimonial__quote">
              <i class="bx bxs-quote-alt-left"></i>
            </div>
            <p class="testimonial__description">
              They are the best watches that one acquires, also they are always
              with the latest news and trends, with a very comfortable price and
              especially with the attention you receive, they are always
              attentive to your questions.
            </p>
            <h3 class="testimonial__date">March 27. 2021</h3>

            <div class="testimonial__perfil">
              <img
                src="../../../../assets/homePhotos/testimonial1.jpg"
                alt=""
                class="testimonial__perfil-img"
              />

              <div class="testimonial__perfil-data">
                <span class="testimonial__perfil-name">Lee Doe</span>
                <span class="testimonial__perfil-detail"
                  >Director of a company</span
                >
              </div>
            </div>
          </div></swiper-slide
        >
        <swiper-slide class="testimonial__card swiper-slide">
          <div class="testimonial__quote">
            <i class="bx bxs-quote-alt-left"></i>
          </div>
          <p class="testimonial__description">
            They are the best watches that one acquires, also they are always
            with the latest news and trends, with a very comfortable price and
            especially with the attention you receive, they are always attentive
            to your questions.
          </p>
          <h3 class="testimonial__date">March 27. 2021</h3>

          <div class="testimonial__perfil">
            <img
              src="../../../../assets/homePhotos/testimonial2.jpg"
              alt=""
              class="testimonial__perfil-img"
            />

            <div class="testimonial__perfil-data">
              <span class="testimonial__perfil-name">Samantha Mey</span>
              <span class="testimonial__perfil-detail"
                >Director of a company</span
              >
            </div>
          </div></swiper-slide
        >
        <swiper-slide class="testimonial__card swiper-slide">
          <div class="testimonial__quote">
            <i class="bx bxs-quote-alt-left"></i>
          </div>
          <p class="testimonial__description">
            They are the best watches that one acquires, also they are always
            with the latest news and trends, with a very comfortable price and
            especially with the attention you receive, they are always attentive
            to your questions.
          </p>
          <h3 class="testimonial__date">March 27. 2021</h3>

          <div class="testimonial__perfil">
            <img
              src="../../../../assets/homePhotos/testimonial3.jpg"
              alt=""
              class="testimonial__perfil-img"
            />

            <div class="testimonial__perfil-data">
              <span class="testimonial__perfil-name">Raul Zaman</span>
              <span class="testimonial__perfil-detail"
                >Director of a company</span
              >
            </div>
          </div></swiper-slide
        >
      </swiper-container>
      <button class="swiper-button-next" (click)="goNext()">
        <i class="bx bx-right-arrow-alt"></i>
      </button>
      <button class="swiper-button-prev" (click)="goPrev()">
        <i class="bx bx-left-arrow-alt"></i>
      </button>
    </div>

    <div class="testimonial__images">
      <div class="testimonial__square"></div>
      <img
        src="../../../../assets/homePhotos/testimonial.png"
        alt=""
        class="testimonial__img"
      />
    </div>
  </div>
</section>
