<body>
  <!--==================== NAV ====================-->
  <app-nav> </app-nav>
  <!--==================== CART ====================-->
  <app-cart></app-cart>

  <!--==================== MAIN ====================-->
  <main class="main">
    <!--==================== HOME ====================-->
    <app-first-look></app-first-look>

    <!--==================== FEATURED ====================-->
    <app-featured></app-featured>

    <!--==================== STORY ====================-->
    <app-story></app-story>

    <!--==================== PRODUCTS ====================-->
    <app-products></app-products>

    <!--==================== TESTIMONIAL ====================-->
    <app-testimonial></app-testimonial>

    <!--==================== NEW ====================-->
    <app-new-arrivals></app-new-arrivals>

    <!--==================== NEWSLETTER ====================-->
    <app-news-letter></app-news-letter>
    <app-footer></app-footer>
  </main>
</body>
