<section class="new section container" id="new">
  <h2 class="section__title">New Arrivals</h2>

  <div class="new__container">
    <swiper-container #swiper  class="swiper new-swiper">
      <swiper-slide class="new__card swiper-slide">
        <span class="new__tag">New</span>

        <img
          src="../../../../assets/homePhotos/new1.png"
          alt=""
          class="new__img"
        />

        <div class="new__data">
          <h3 class="new__title">Longines rose</h3>
          <span class="new__price">$980</span>
        </div>

        <button class="button new__button">ADD TO CART</button>
      </swiper-slide>
      <swiper-slide class="new__card swiper-slide">
        <span class="new__tag">New</span>

        <img
          src="../../../../assets/homePhotos/new1.png"
          alt=""
          class="new__img"
        />

        <div class="new__data">
          <h3 class="new__title">Longines rose</h3>
          <span class="new__price">$980</span>
        </div>

        <button class="button new__button">ADD TO CART</button>
      </swiper-slide>
      <swiper-slide class="new__card swiper-slide">
        <span class="new__tag">New</span>

        <img
          src="../../../../assets/homePhotos/new1.png"
          alt=""
          class="new__img"
        />

        <div class="new__data">
          <h3 class="new__title">Longines rose</h3>
          <span class="new__price">$980</span>
        </div>

        <button class="button new__button">ADD TO CART</button>
      </swiper-slide>
      <swiper-slide class="new__card swiper-slide">
        <span class="new__tag">New</span>

        <img
          src="../../../../assets/homePhotos/new1.png"
          alt=""
          class="new__img"
        />

        <div class="new__data">
          <h3 class="new__title">Longines rose</h3>
          <span class="new__price">$980</span>
        </div>

        <button class="button new__button">ADD TO CART</button>
      </swiper-slide>
      <swiper-slide class="new__card swiper-slide">
        <span class="new__tag">New</span>

        <img
          src="../../../../assets/homePhotos/new1.png"
          alt=""
          class="new__img"
        />

        <div class="new__data">
          <h3 class="new__title">Longines rose</h3>
          <span class="new__price">$980</span>
        </div>

        <button class="button new__button">ADD TO CART</button>
      </swiper-slide>
    </swiper-container>
    <div class="buttons-container">
      
      <button class="button-prev">
        <i class="bx bx-left-arrow-alt" (click)="goPrev()"></i>
      </button>
      <button class="button-next">
        <i class="bx bx-right-arrow-alt" (click)="goNext()"></i>
      </button>
    </div>
  </div>
</section>
